.grid-container {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 90px 0px; /* Gap between buttons and joystick*/
    gap: 150px; /* Gap between buttons*/
    margin-top: 80px;
    margin-bottom: 100px;
  }

/* .buttonStop {
    padding: 40px 40px; 
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transform: translateY(200%);
} */
  
/* br {
    content: "";
    margin: 0em;
    display: block;
    font-size: 24%;
} */

.divUpright {
    writing-mode: vertical-lr;
    font-size: x-large;
    margin-top: 80px;
}